
.navbar .nav>li>a:hover {
	background-color: #1f7a1f;
	color: white;
}

.navbar .nav>.active>a {
	background-color: #1f7a1f;
	opacity: 0.7;
	color: white;
}

.dropdown {
	position: relative;
	margin-top: 12px;
	color: #404040;
	text-align: center;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);         
	padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover {
	color: green;
}

.dropdown-content>p {
	padding: 5px;
	color: black;
}

.dropdown-content>p:hover {
	color: green;
}

.dropdown:hover .dropdown-content {
	display: block;
}
.barss{
	 margin-top: 3px;
}
.search{
	 margin-top: 0px;
}
.searchbutton{
	
}