foodzoofrontend/.classpath
foodzoofrontend/.project
foodzoofrontend/.settings/
foodzoofrontend/target/**
FoodZooBackEnd/.classpath
FoodZooBackEnd/.project
FoodZooBackEnd/.settings/
FoodZooBackEnd/target/**
